.clsHeader{
  text-align: center;
}
.clsLogin{
  border: 1px solid;
  margin-top: 100px;
  margin-left: 280px; 
  margin-right: 450px;
  padding: 75px;
  
}
.btn{
  border: 1px solid;
}
.col-md-12{
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  
}

.btnStyle button{
  padding: 10px 32px;
  text-align: left;
  font-size: 12px;
  margin-right: 20px;
  background-color: white;
  /* border: 1px solid; */
}

.float {
  float:right;
}
.fas
{
  margin: 5px;  
}
.mystyle{
  color: red;
}