.container-fluid{
margin-left: 5%;
margin-right: 5%;
}
.clsHeader{
  text-align: center;
}
.clsLogin{
  border: 1px solid;
  margin-top: 100px;
  margin-left: 280px; 
  margin-right: 450px;
  padding: 75px;
  
}
/* .btn{
  border: 1px solid;
  box-align: left;
} */
.btnTech{
  border: 1px solid;
  padding: 1%;
}
.btnTech1{
  border: 1px solid;
}
.btnTech2{
  border: 1px solid;
}
.btnTech3{
  border: 1px solid;
}
.col-md-12{
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  
}

.btnStyle button{
  padding: 10px 32px;
  text-align: left;
  font-size: 12px;
  margin-right: 20px;
  background-color: white;
  /* border: 1px solid; */
  border: 1px solid;
  box-align: left;
}

.float {
  float:right;
}
.fas
{
  margin: 5px;  
}
.mystyle{
  color: red;
}

.clsSeverity{
  /* border: 1px solid; */
  /* margin-top: 5px; 
  padding: 5px */

  padding: 10px 32px;
  text-align: left;
  font-size: 10px;
  margin-right: 20px;
  background-color: white;
  /* border: 1px solid; */
  border: 1px solid;
  /* box-align: left; */
  
}

.submitCase{
  margin-top: 5%;
  text-align: center;
}
label {
  display: block;
  clear: both;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.btn_narrow{
  display: inline;
  width: 24%;
  text-align: center !important;
}

.submit{
  display: block;
  max-width: 300px;
  margin: auto;
  background-color: skyblue;
}